{% extends 'polls/base.html' %}
{% load i18n %}

{% block content %}

<h1>{{company.company_name}}</h1>

<h2>{% trans "Managers" %}</h2>
{% if company.manager_set.all %}
	<ol>
		{% for manager in company.manager_set.all %}
		<li><h4>{{ manager.name }}</h4></li>
		{% endfor %}
	</ol>
{% else %}
<p>No details</p>
{% endif %}

<h2>{% trans "Jobs:" %}</h2>
{% if company.job_set.all %}
	<ol>
		{% for job in company.job_set.all %}
		<li>
			<h4>{{ job.name }}</h4>
		</li>
		{% endfor %}
	</ol>
{% else %}
	<p>{% trans "No details" %}</p>
{% endif %}

{% endblock %}