{% extends 'polls/base.html' %}
{% load i18n %}

{% block content %}

<h1>{{ worker.name }}</h1>

{% if worker.workplace_set.all %}
<ol>
    {% for place in worker.workplace_set.all %}
        <li>
            <table>
                <tr>
                    <td>{% trans "Company" %}</td>
                    <td>{{ place.job.company }}</td>
                </tr>
                <tr>
                    <td>{% trans "Job" %}</td>
                    <td>{{ place.job }}</td>
                </tr>
                <tr>
                    <td>{% trans "Status" %}</td>
                    <td>{{ place.status }}</td>
                </tr>
                <tr>
                    <td>{% trans "Worktime" %}</td>
                    <th>{{ place.worktime }}</th>
                </tr>
            </table>
        </li>
    {% endfor %}
</ol>
{% else %}
<p>No details</p>
{% endif %}

{% endblock %}